<!-- tilde -->
<div>
    <div class="col-sm-6 col-md-4 card-item">
        <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
            <img src="images/stool1.jpg" alt="stool" class="full-width-image">
            <img src="images/sale_badge.png" class="sale-badge">
        </a>
        <div class="caption box">
            <h3>Rp 1.000.000</h3>
            <div class="row">
                <div class="col-sm-12">
                    <p class="default-userProductList-CardList-price">Vee Bar Stool, black brown</p>
                    <p class="min-order">Shop Bar Stools</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- kimi -->
<div>
    <div class="col-sm-6 col-md-4 card-item">
        <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
            <img src="images/risotto_square.jpg" alt="risotto lemon">
        </a>
        <div class="caption box">
            <h3>Lemon Risotto</h3>
            <div class="row">
                <div class="col-sm-8 col-xs-6">
                    <p class="default-userProductList-CardList-price">Rp 45.000 / pcs</p>
                    <span class="min-order">10 pcs min order</span>
                </div>

                <div class="col-sm-4 col-xs-6">
                    <button onclick="location.href='shoppingCart.html'" class="btn default-userProductList-CardList-button pull-right" role="button">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- card item with inner slider -->
<div class="col-sm-6 col-md-4 card-item">
    <div class="slider">
        <div class="slider__item">
            <a href="productDetail.html">
                <img src="images/photos/Accuhichair1a.jpg" alt="Dummy" />
            </a>
        </div>
        <div class="slider__item">
            <a href="productDetail.html">
                <img src="images/photos/Accuhichair1a.jpg" alt="Dummy" />
            </a>
        </div>
        <div class="slider__item">
            <a href="productDetail.html">
                <img src="images/photos/Accuhichair1a.jpg" alt="Dummy" />
            </a>
        </div>
    </div>
    <div class="caption box">
        <h3>Rp 1.000.000</h3>
        <div class="row">
            <div class="col-sm-12">
                <p class="default-userProductList-CardList-price">Vee Bar Stool, black brown</p>
                <p class="min-order">Shop Bar Stools</p>
            </div>
        </div>
        <div class="maya-tiny-padding"></div>
        <p class="text-center">
            <button class="btn button-yellow">Add to Cart</button>
        </p>
    </div>
</div>


