<!-- tilde -->
<div class="container-fluid less-padding">
    <div class="homepage-slider owl-carousel owl-theme">
        <div class="item" style="background: #D4E4F1;">
            <div class="heading-large">
                <h2>Swoon Lounge Chair</h2>
                <h4>By : Sellemore</h4>
                <h3 class="price">Rp 2.700.000</h3>
                <a href="productDetail.html" class="btn">Buy</a>
            </div>
            <img src="images/slider1.jpg">
        </div>
    </div>
</div>




<!-- kimi -->
<div class="container-fluid kimi-container less-padding">
    <div class="homepage-slider owl-carousel owl-theme">
        <div class="item">
            <div class="scrim"></div>
            <h2 class="heading-large">Good Food is All the Sweeter When Shared with Good Friends</h2>
            <p>By : Kimi Editorial</p>
            <div class="row-buttons">
                <a href="channelDetail.html" class="btn button-outline text-white">Visit Store</a>
                <a href="articleDetails.html" class="btn button-outline text-white">See Article</a>
                <a href="#" class="btn button-outline text-white">Collect</a>
            </div>
            <img src="images/slider1.jpg" width="100%">
        </div>
    </div>
</div>


