<!-- tilde -->
<div class="container-fluid less-padding">
    <div class="maya-small-padding"></div>
    <h2 class="text-thin text-center spacing-minus">Create the Home You've Always Wanted</h2>
    <div class="maya-tiny-padding"></div>
    <div class="small-slider owl-carousel owl-theme">
        <a href="directory.html" class="item">
            <img src="images/arsitek_icon.png">
            <h6 class="small-text-overlay text-center">Architects</h6>
        </a>
    </div>
</div>



<!-- kimi -->
<div class="container-fluid less-padding">
    <h2 class="default-userProductList-InfoBar-title text-center"><i class="fa fa-heart-o" aria-hidden="true"></i> Editor's Pick</h2>
    <div class="small-slider owl-carousel owl-theme">
        <a href="products.html" class="item">
            <div class="scrim"></div>
            <span class="small-text-overlay">5 Products</span>
            <p>Rice</p>
            <img src="images/tag_nasi.jpg" width="100%">
        </a>
    </div>
</div>