<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid hidden-xs">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <button class="pull-left search-button" id="buttonOpenSearchbar"><i class="fa fa-search" aria-hidden="true"></i></button>
                <button class="pull-left search-button hide" id="buttonCloseSearchbar"><i class="fa fa-times" aria-hidden="true"></i></button>

                <div id="searchbar" class="hide">
                    <div>
                        <div class="top-nav-searchbar">
                            <div class="input-group">
                                <form action="search.html">
                                    <input class="form-control" type="text" name="q" id="tipue_search_input" placeholder="Search for" autofocus="autofocus">
                                </form>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
                <p class="help-text hidden-sm hidden-md" id="helpText">Find any troubles? Drop us an email at <a href="mailto:grow@backtokimi.com" class="text-secondary">grow@backtokimi.com</a> </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <p class="text-center logo-container"><a href="index.html"><img src="images/logo.png" width="100"></a></p>
            </div>
            <div class="col-md-4 less-padding-right">
                <a href="registerMerchant.html" class="btn pull-right button-green-top-nav">Be Kimi Merchant</a>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-white">
        <div class="navbar-header pull-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar icon-short"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar icon-medium"></span>
            </button>
        </div>
        <div class="visible-xs logo-center">
            <p class="text-center logo-container visible-xs"><a href="index.html"><img src="images/logo.png" width="90"></a></p>
        </div>
        <div class="visible-xs pull-right">
            <button class="pull-left search-button-mobile" id="buttonOpenSearchbarMobile"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="clearfix"></div>

        <div class="fly-searchbar" style="display: none;">
            <div class="top-nav-searchbar searchbar-mobile">
                <div class="input-group">
                    <form action="search.html">
                        <input class="form-control" type="text" name="q" id="tipue_search_input" placeholder="Search for" autofocus="autofocus">
                    </form>
                    <button class="pull-right" id="buttonCloseSearchbarMobile"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Shop</a></li>
                <li><a href="articles.html">Articles</a></li>
                <li><a href="merchantGuide.html">Chef Guide</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Location <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="chefDirectory.html">Jakarta Barat</a></li>
                        <li><a href="chefDirectory.html">Jakarta Selatan</a></li>
                        <li><a href="chefDirectory.html">Jakarta Pusat</a></li>
                        <li><a href="chefDirectory.html">Jakarta Utara</a></li>
                        <li><a href="chefDirectory.html">Jakarta Timur</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="chefDirectory.html">Depok</a></li>
                        <li><a href="chefDirectory.html">Tangerang</a></li>
                    </ul>
                </li>
                <li><a href="questions.html">FAQs</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="chefDirectory.html">Chef Directory</a></li>
                <li><a href="login.html">Login / Register</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cart (0)</a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="cart-flyout">
                                <h4 class="text-oswald text-center">Recently Added Product(s)</h4>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <img src="images/IG_8.svg" width="50">
                                        <div class="maya-tiny-padding"></div>
                                        <p class="text-roboto-light">Your Basket is Empty</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>