<div class="row">
    <div class="product-detail-tag-container col-md-4 col-md-offset-4 visible-xs text-center">
        <button class="btn outline-white-button text-center">Load More</button>
    </div>

    <div class="col-md-12 hidden-xs text-center">
        <!--pagination-->
        <div aria-label="Page navigation">
            <ul class="pagination">
                <li class="current"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
        <!--pagination ends-->
    </div>
</div>