<!-- kimi -->

<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <p class="text-center">
            <img src="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/svg/pilih_menu.svg" width="120" />
            <h5 class="text-roboto text-center">Pilih Menu yang Anda Inginkan</h5>
        </p>
    </div>
    <div class="col-md-2">
        <p class="text-center">
            <img src="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/svg/atur_jadwal.svg" width="120" />
            <h5 class="text-roboto text-center">Atur Jadwal dan Alamat Pengantaran</h5>
        </p>
    </div>
    <div class="col-md-2">
        <p class="text-center">
            <img src="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/svg/approval.svg" width="120" />
            <h5 class="text-roboto text-center">Dapatkan Approval dari Chef</h5>  
        </p>
    </div>
    <div class="col-md-2">
        <p class="text-center">
            <img src="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/svg/pay.svg" width="120" />
            <h5 class="text-roboto text-center">Lakukan Pembayaran</h5>
        </p>
    </div>
    <div class="col-md-2">
        <p class="text-center">
            <img src="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/svg/nikmati.svg" width="120" />
            <h5 class="text-roboto text-center">Nikmati Order Anda Sesuai Jalan</h5>    
        </p>
    </div>
</div>