
<div class="clearfix"></div>
<footer class="container-fluid">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-2">
                <img src="images/logo_footer.png" />
            </div>

            <div class="col-md-10">
                <p>
                    Tilde.id serves the needs of the design, entertainment and arts communities by providing public and private conference spaces for lectures, meetings, special events, screenings, exhibitions and receptions
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><small>&copy; 2017 Tilde.id All rights reserved</small></p>    
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-thin less-margin">Top Categories</h2>
            </div>
        </div>
        <div class="maya-tiny-padding"></div>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="products.html">Dining Room</a></li>
                    <li><a href="products.html">Decoration</a></li>
                    <li><a href="products.html">Renovation</a></li>
                    <li><a href="products.html">Bedroom</a></li>
                    <li><a href="products.html">Furniture</a></li>
                    <li><a href="products.html">Bathroom</a></li>
                    <li><a href="products.html">Lighting</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="products.html">Architects</a></li>
                    <li><a href="products.html">Interior Designers</a></li>
                    <li><a href="products.html">Contractors</a></li>
                    <li><a href="products.html">Home Builders</a></li>
                    <li><a href="products.html">Landscape Designers</a></li>
                    <li><a href="products.html">Furniture Repairs</a></li>
                    <li><a href="products.html">Air Conditioning</a></li>    
                </ul>
                
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="products.html">Plumbers</a></li>
                    <li><a href="products.html">Electricians</a></li>
                    <li><a href="products.html">Welders</a></li>
                    <li><a href="products.html">Movers</a></li>
                    <li><a href="products.html">Carpet Cleaners</a></li>
                    <li><a href="products.html">Glass Services</a></li>
                    <li><a href="products.html">Canopy Services</a></li>    
                </ul>
            </div>
        </div>
    </div>
    
</footer>
